.article {
  width: 600px;
  background: rgba(255, 255, 255, 0.657);
  border-radius: 20px;
  padding: 20px 55px 30px;

  &Title {
    font-weight: normal;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1em;
    color: rgba(51, 51, 51, 0.737);
    text-align: center;
  }

  &Text {
    text-align: center;
    padding-top: 10px;
  }

}


@media (max-width: 768px) {
  .article {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .article {
    width: 400px;
    padding: 10px;

    &Title {
      font-size: 26px;
    }
  }
}